@import 'mixin';
@import 'variables';

.country-selector {
  background: white no-repeat center center;
  border-radius: (5em/$fs);
  height: (353em/$fs);
  padding-top: (20em/$fs);
  box-sizing: border-box;
  position: relative;

  .country-selector-title {
    text-align: center;
    font-weight: bold;
  }

  .b-wrapper {
    padding: 1em 0;
    background: rgba(white,.5);
    text-align: center;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
  }

  .button-submit {
    float:none;
    display: inline-block;
    position: relative;
    padding: 0 (12em/$buttonfs) 0 (50em/$buttonfs);
    width: auto;
  }

  .button-es,
  .button-en {
    &:before {
      height: (23em/$buttonfs);
      width: (35em/$buttonfs);
      content:"";
      position: absolute;
      left: (6em/$buttonfs);
      top:50%;
      transform: translateY(-55%);
    }
  }

  .button-es {
    &:before {
      background: url(../images/flags/spain.png) no-repeat;
    }
  }
  .button-en {
    &:before {
      background: url(../images/flags/eng.png) no-repeat;
    }
  }
}

.country-arg {
  background-image: url(../images/bg-arg.png);

  .country-argentina {
    width: (76em/$fs);
    height: (76em/$fs);
    margin: (102em/$fs) auto 0 auto;
    background: url(../images/flags/argentina.svg) no-repeat center center;
    text-indent: -999em;
  }
}

.country-world {
  background-image: url(../images/bg-world.png);
  padding-left: (40em/$fs);
  padding-right: (40em/$fs);

  .country-list {
    margin-top: (38em/$fs);
  }
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;

  .country-list-item {
    width: (50em/$fs);
    height: (50em/$fs);
    overflow: hidden;
    background: no-repeat center center;
    text-indent: -999em;
    margin: (10em/$fs);
    flex-basis: 12%;
  }

  $countries: ('colombia','mexico', 'comunidad-economica-europea','eeuu','peru','brasil', 'guatemala', 'republica-dominicana', 'uruguay', 'chile', 'ecuador','venezuela');

  @each $country in $countries {
    .country-#{$country} {
      background-image: url(../images/flags/#{$country}.svg);
    }
  }
}